@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 700;
}

p, span, a, li {
  font-family: 'IBM Plex Sans', sans-serif;
}

p {
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

#scroll {
  background-color: white;
}
#scroll a {
  color: #241C15
}

.active {
  color: #3763E7 !important
}

#scroll img {
  /* transform: scale(.8); */
}


.headerLink {
  color: #FFFFFF;
}
@media screen and (max-width: 767px) {
  .headerLink {
    color: #241C15
  }
}

ul {
  list-style-type: none;
}

button {
  padding: 8px 28px !important;
  font-weight: 500 !important;
  font-size: 16px;
}

.MuiContainer-root {
  max-width: 1140px !important;
  padding: 0 12px 0 12px !important
}

.MuiButton-label {
  text-transform: none !important
}

.swal2-popup #swal2-content {
  font-family: 'Libre Franklin', sans-serif !important;
  font-size: 16px;
}

.swal2-popup .swal2-styled.swal2-confirm {
  background-color: #0F1A40 !important;
  font-family: 'Libre Franklin', sans-serif !important;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  br {
    display: none
  }
}


#programs-menu .MuiPaper-root {
  top: 55px !important;
  overflow: visible;
}
#programs-menu .MuiPaper-root::before {
  content: '';
  position: absolute;
  height: 10px;
  width: 10px;
  background: white;
  left: 15px;
  top: -5px;
  transform: rotate(45deg)
}

#programs-menu-mobile .MuiPaper-root {
  left: 140px !important;
}



/* contact form eror styling */
#ContactForm .MuiFormHelperText-root.Mui-error {
  margin-top: -24px;
  margin-bottom: 24px;
}